/*CSS document*/

* {margin:0px; padding:0px;}
#drag {
	border: 1px solid blue; width: 100px; height: 100px; position: absolute; background: yellow; position: absolute; 
	top: 20px; left: 20px; cursor:move;
}
























