/*CSS document*/
/*reset*/
.pulWidth {
	width:1000px;
}

/*reset-end*/

/*commen CSS*/

/*end*/

/*--------header----------*/
#header {
	width:100%; height:74px; background:url(../images/bg_header.png) repeat-x; overflow:hidden; 
}
.logo {
	display:block; height:49px; width:163px; background:url(../images/logo.png) no-repeat; margin-top:11px;
}
.nav {
	width:445px; margin-left:73px;
}
.nav li {
	float:left; margin-right:34px; display:inline; width:27px; text-align:center;
}
.nav li a {
	color:#fff; font-size:12px; display:block; width:auto; height:23px; padding-top:28px;
}
.nav li a:hover {
	text-decoration:none; border-bottom:2px solid #0fe2e5;
}
.nav .hover {
	font-weight:bold; border-bottom:2px solid #0fe2e5;
}
.login {
	width:268px; height:35px; margin:18px 7px 0 0;
}
.zhu_ce, .deng_lu {
	height:35px; line-height:35px; color:#fff; font-weight:bold; padding-left:50px; cursor:pointer;
}
.login .zhu_ce {
	width:95px;  background:url(../images/zhu_ce.png) no-repeat; 
}
.login .deng_lu {
	width:55px; background:url(../images/deng_lu.png) no-repeat; 
}

/*右侧浮窗广告*/
#right_F {
	position:absolute; top:25%; right:0; width:auto; height:280px;    /*IE 7 下图片定位问题*/
}
#right_F .show {
	width:24px; height:107px; background:#fff; color:#003585; font-size:14px; font-weight:bold; padding:7px; border:1px solid #ccc; cursor: pointer;
}
#right_F .show span {
	display:block; width:0; height:0; border:solid 5px; border-color: transparent #003585 transparent transparent; margin:5px 0 0 3px;
}
#right_F .hide {
	width:130px; height:280px; background:url(../images/right_F.png) no-repeat;
} 
.hide dl {
	height:69px; text-align:center; padding-top:71px;
}
.hide dt {
	width:88px; height:26px; line-height:26px; border:1px solid #999; backgropund:#fff;
}
.hide dt a {
	color:#013684; font-size:18px; font-weight:bold;
}
.hide dt a:hover {
	color:red; text-decoration:none;
}
.hide dd {
	margin-top:10px; color:#013684; font-size:16px;
}
.hide .white {
	color:#FFFFFF;
}

/*----------middle----------*/

#middler {
	width:100%; height:50px; background:url(../images/bg_middle.png) repeat-x;
}
.middle p {
	line-height:50px; color:#333333; font-size:20px;
}
.middle p strong {
	color:#ff6600;
}
.middle p strong, .middle p span {
	font-size:25px;
}
.middle .icons {
	margin:8px 7px 0 0;
}
.middle .icons a {
	display:block; width:32px; height:31px; margin:0 7px; display:inline; float:left; position:relative; top:0; left:0;
}
.one {
	background:url(../images/icons.png) no-repeat 0 -124px;
}
.two{
	background:url(../images/icons.png) no-repeat 0 -93px;
}
.three {
	background:url(../images/icons.png) no-repeat 0 -62px;
}
.four {
	background:url(../images/icons.png) no-repeat 0 -31px;
}
.five {
	background:url(../images/icons.png) no-repeat;
}
.middle_hide {
	width:163px; height:186px; border:1px solid #ccc; position:absolute; z-index:9999; background:#F0F1F3; top:45px; left:-80px;
}
.middle_hide dd {
	color:#999999;
}
.two p {
	width:230px; height:35px; line-height:35px; text-align:center; position:absolute; z-index:9999; background:#F0F1F3; top:45px; left:-100px; font-size:18px;
	border-radius:6px;
}
.link_box {
	width:212px; height:315px; background:url(../images/share.png) no-repeat; position:absolute; z-index: 999; top:50px; left:-100px;
}
.link_box h3 {
	line-height:40px;
}
.link_box ol {
	padding-left:20px; font-size:12px; margin-top:4px; height:244px;
}
.link_box ol li {
	line-height:250%;
}
.link_box p {
	font-size:12px;margin-right:3px;height:23px; line-height:23px;
}
/*----------------footer-------------*/

#footer {
	width:100%; height:203px; background:url(../images/by_footer.png) repeat-x;
}
.foot {
	padding:27px 17px 0px 17px;
}
.foot .foot_L {
	width:250px; height:105px; border-right:1px solid #ccc;
}
.foot_L dt {
	text-align:center; color:#666666;
}
.foot_L dd {
	float:left;
}
.foot_L dd a {
	display:block; background:url(../images/footer_icons.png) no-repeat; 
}
.L dd a {
	width:70px; height:27px; margin:6px;
}
.R dd a {
	width:67px; height:21px; margin:6px 8px;
}
.foot_R {
	width:400px; height:120px; margin-left:23px;
}
.foot_R h3 {
	text-align:center; color:#666;
}
.foot_R span, .foot_R a {
	color:#a4a4a4; padding-right:6px;
}
.foot_R p {
	line-height:200%;
}
.foot_R a:hover {
	text-decoration:none; color:#00A0EA;
}
.foot_B {
	overflow:hidden; height:45px; line-height:45px; margin-top:10px; _margin-top:-12px;
}
.foot_B p {
	font-size:12px; color:#a4a4a4;
}
.foot_B p a {
	color:#a4a4a4; padding:0 8px;
}
.foot_B p a:hover {
	text-decoration:none;
}

/*case_page*/

/*分页面调整*/
#caseFooter {
	background:#DDDDDD; border-top:1px solid #B8B8B8; height:45px;
}
#caseFooter .foot_B {
	height:45px; line-height:25px;
}
#case_middler {
	width:100%; height:50px; background:#E5F2FB; margin-top:-3px; line-height:50px;
}

/*end*/

